<mat-accordion *ngIf="posts.length > 0; else: noPosts">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ post.title }}</mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{ post.body }}</p>

    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit/', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="deletePost(post.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #noPosts>
  <p class="center">You do not have any posts yet.</p>
</ng-template>
